services:
  influxdb:
    restart: ${RESTART_POLICY:-always}
    image: influxdb:1.7.11-alpine
    environment:
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
      - INFLUXDB_DB
      - INFLUXDB_HTTP_ENABLED=true
      - INFLUXDB_HTTP_AUTH_ENABLED=true
    volumes:
      - influxdb-data:/var/lib/influxdb
    ports:
      - ${INFLUXDB_EXPOSE:-127.0.0.1:8086}:8086
    mem_limit: 5g
    networks:
      - monitoring

  grafana:
    restart: ${RESTART_POLICY:-always}
    image: grafana/grafana:10.4.19-security-01@sha256:5584505cb75be8cb14c19d7473a87e2675c68b34b546bc1923ef74300c337111
    environment:
      - INFLUXDB_DB
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
    volumes:
      - ./configs/grafana/:/etc/grafana/provisioning
      - ./configs/grafana/config.ini:/usr/share/grafana/conf/defaults.ini
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring
    ports:
      - "${GRAFANA_EXPOSE:-127.0.0.1:3000}:3000"

  kibana:
    restart: ${RESTART_POLICY:-always}
    image: kibana:7.14.2
    volumes:
      - ./configs/kibana/kibana.yml:/home/kibana/config/kibana.yml
    networks:
      - monitoring

  # elasticsearch-datagen:
  #   image: oliver006/es-test-data
  #   command:
  #     - --es_url=http://elasticsearch:9200
  #   depends_on:
  #     - elasticsearch
  #   networks:
  #     - monitoring

  elasticsearch:
    restart: ${RESTART_POLICY:-always}
    image: elasticsearch:7.14.1
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - cluster.routing.allocation.disk.watermark.high=95%
      - "indices.breaker.total.use_real_memory=true"
      - "indices.breaker.total.limit=95%"
      - "ES_JAVA_OPTS=-Xms8048m -Xmx8048m"
      - "path.repo=/opt/elasticsearch/backups"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 262144
        hard: 262144
    mem_limit: 9g
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - elasticsearch-backup:/opt/elasticsearch
    ports:
      - ${ES_API_EXPOSE:-127.0.0.1:9200}:9200
      - ${ES_NODE_COMMUNICATION_EXPOSE:-127.0.0.1:9300}:9300
    networks:
      - monitoring

  elasticsearch_exporter:
    restart: ${RESTART_POLICY:-always}
    image: quay.io/prometheuscommunity/elasticsearch-exporter:latest
    command:
      - '--es.uri=http://elasticsearch:9200'
    ports:
      - ${ES_EXPORTER_EXPOSE:-127.0.0.1:9114}:9114
    networks:
      - monitoring

  alertmanager:
    restart: ${RESTART_POLICY:-always}
    image: prom/alertmanager:v0.23.0
    volumes:
      - alertmanager-data:/var/lib/prometheus/alertmanager
      - ./configs/alertmanager/:/etc/alertmanager/
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--web.external-url=https://alertmanager.openfoodfacts.org/'
    networks:
      - monitoring

  prometheus:
    restart: ${RESTART_POLICY:-always}
    image: prom/prometheus:v2.30.0
    volumes:
      - ./configs/prometheus/:/etc/prometheus/
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/config.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=https://prometheus.openfoodfacts.org/'
      - '--web.enable-admin-api'
      - '--enable-feature=remote-write-receiver'
    ports:
      - ${PROMETHEUS_EXPOSE:-127.0.0.1:9090}:9090
    networks:
      - monitoring
    # enable reaching host internal ip
    extra_hosts:
      - "host.docker.internal:host-gateway"

  blackbox_exporter:
    restart: ${RESTART_POLICY:-always}
    image: prom/blackbox-exporter:v0.19.0
    command: --config.file=/config/config.yml
    dns: 8.8.8.8
    volumes:
      - "./configs/blackbox_exporter:/config"
    ports:
      - ${BLACKBOX_EXPORTER_EXPOSE:-127.0.0.1:9115}:9115
    networks:
      - monitoring

  tempo:
    restart: ${RESTART_POLICY:-always}
    image: grafana/tempo:2.9.0@sha256:65a5789759435f1ef696f1953258b9bbdb18eb571d5ce711ff812d2e128288a4
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - "./configs/tempo/tempo.yaml:/etc/tempo.yaml"
      - tempo-data:/data/tempo
    ports:
      - ${TEMPO_EXPOSE_HTTP:-127.0.0.1:3200}:3200
      - ${TEMPO_EXPOSE_GRPC:-127.0.0.1:9096}:9096
      - ${TEMPO_EXPOSE_OTEL_GRPC:-127.0.0.1:4417}:4417
      - ${TEMPO_EXPOSE_OTEL_HTTP:-127.0.0.1:4418}:4418
    networks:
      - monitoring

volumes:
  influxdb-data:
  grafana-data:
  elasticsearch-data:
  elasticsearch-backup:
  prometheus-data:
  alertmanager-data:
  tempo-data:

networks:
  monitoring:
