version: '3.7'

services:
  influxdb:
    restart: always
    image: influxdb:1.7.11-alpine
    environment:
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
      - INFLUXDB_DB
      - INFLUXDB_HTTP_ENABLED=true
      - INFLUXDB_HTTP_AUTH_ENABLED=true
    volumes:
      - influxdb-data:/var/lib/influxdb
    ports:
      - 8086:8086
    mem_limit: 5g
    networks:
      - monitoring

  grafana:
    restart: always
    image: grafana/grafana:8.1.0
    environment:
      - INFLUXDB_DB
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
    volumes:
      - ./configs/grafana/:/etc/grafana/provisioning
      - ./configs/grafana/config.ini:/usr/share/grafana/conf/defaults.ini
      - grafana-data:/var/lib/grafana
    ports:
      - 3000:3000
    networks:
      - monitoring

  kibana:
    restart: always
    image: kibana:7.14.2
    ports:
      - 5601:5601
    volumes:
      - ./configs/kibana/kibana.yml:/home/kibana/config/kibana.yml
    networks:
      - monitoring

  # elasticsearch-datagen:
  #   image: oliver006/es-test-data
  #   command:
  #     - --es_url=http://elasticsearch:9200
  #   depends_on:
  #     - elasticsearch
  #   networks:
  #     - monitoring

  elasticsearch:
    restart: always
    image: elasticsearch:7.14.1
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - cluster.routing.allocation.disk.watermark.high=95%
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 262144
        hard: 262144
    mem_limit: 2g
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - monitoring

  elasticsearch_exporter:
    restart: always
    image: quay.io/prometheuscommunity/elasticsearch-exporter:latest
    command:
     - '--es.uri=http://elasticsearch:9200'
    ports:
    - 9114:9114
    networks:
      - monitoring

  alertmanager:
    restart: always
    image: prom/alertmanager:v0.23.0
    ports:
      - 9093:9093
    volumes:
      - alertmanager-data:/var/lib/prometheus/alertmanager
      - ./configs/alertmanager/:/etc/alertmanager/
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--web.external-url=https://alertmanager.openfoodfacts.org/'
    networks:
      - monitoring

  prometheus:
    restart: always
    image: prom/prometheus:v2.30.0
    volumes:
      - ./configs/prometheus/:/etc/prometheus/
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/config.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=https://prometheus.openfoodfacts.org/'
      - '--web.enable-admin-api'
    ports:
      - 9090:9090
    networks:
      - monitoring

  blackbox_exporter:
    restart: always
    image: prom/blackbox-exporter:v0.19.0
    command: --config.file=/config/config.yml
    dns: 8.8.8.8
    volumes:
      - "./configs/blackbox_exporter:/config"
    ports:
      - 9115:9115
    networks:
      - monitoring

  node_exporter:
    restart: always
    image: prom/node-exporter:v1.2.2
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100:9100
    networks:
      - monitoring

  github-exporter:
    restart: always
    image: infinityworks/github-exporter:latest
    tty: true
    stdin_open: true
    ports:
      - 9171:9171
    environment:
      - ORGS=openfoodfacts
      - GITHUB_TOKEN

  cadvisor:
    restart: always
    image: gcr.io/cadvisor/cadvisor:v0.40.0
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /var/run:/var/run:ro
      - /var/run/docker.sock:/var/run/docker.sock:rw
    ports:
      - 8080:8080
    networks:
      - monitoring

volumes:
  influxdb-data:
  grafana-data:
  elasticsearch-data:
  prometheus-data:
  alertmanager-data:
networks:
  monitoring:
