# this is the docker-compose for monitoring services on each node

services:
  filebeat:
    # filebeat pushes logs to elasticsearch monitoring
    restart: ${RESTART_POLICY:-always}
    image: elastic/filebeat:7.17.9
    user: "root"
    privileged: true
    command: [ "--strict.perms=false" ]
    environment:
      - ELASTICSEARCH_HOSTS
      - KIBANA_HOST
      - ELASTICSEARCH_USERNAME
      - ELASTICSEARCH_PASSWORD
    volumes:
      - ./configs/filebeat/config.yml:/usr/share/filebeat/filebeat.yml:ro
      - ./configs/filebeat/ilm-config.json:/usr/share/filebeat/ilm-config.json:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
  # this is a proxy that can be used to reach other exporters
  # for example exporters from dockers running within this VM
  # Note that this exporter must be however behind a reverse proxy
  # to use basic auth and https
  exporter_exporter:
    restart: ${RESTART_POLICY:-always}
    image: ghcr.io/tcolgate/exporter_exporter:0.6.1
    # the idea is that specific config dir will symlink files from mods_available
    # which is also mounted in the container
    volumes:
      - ./configs/exporter_exporter/mods_available:/etc/exporter_exporter/mods_available
      - ./configs/exporter_exporter/${EXPORTER_EXPORTER_CONFIG_DIR:-default}:/etc/exporter_exporter/mods_enabled
    command: ["-config.file", "", "-config.dirs", "/etc/exporter_exporter/mods_enabled"]
    ports:
      - 8202:9999
    # enable accessing internal host ip
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # this monitors the linux host itself
  node_exporter:
    restart: ${RESTART_POLICY:-always}
    image: prom/node-exporter:v1.2.2
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 8281:9100
  # this monitors docker on the host
  cadvisor:
    restart: ${RESTART_POLICY:-always}
    image: gcr.io/cadvisor/cadvisor:v0.40.0
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /var/run:/var/run:ro
      - /var/run/docker.sock:/var/run/docker.sock:rw
    ports:
      - 8280:8080
