filebeat.autodiscover:
  providers:
    - type: docker
      hints.enabled: true
      co.elastic.logs/module: nginx
      co.elastic.logs/fileset.stdout: access
      co.elastic.logs/fileset.stderr: error
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.message_key: log

processors:
- add_docker_metadata:
    host: "unix:///var/run/docker.sock"
- add_locale:
    format: offset
- add_host_metadata:
    netinfo.enabled: true

logging.tostderr: true
logging.level: error


output.elasticsearch:
  hosts: ["${ELASTICSEARCH_HOSTS}"]
  indices:
    - index: "logs-%{+yyyy.MM.dd}-%{index_num}"


setup.ilm.enabled: true
setup.ilm.policy_name: logs
setup.template.name: logs




filebeat.config.modules.path: /usr/share/filebeat/modules.d/*.yml

setup.kibana:
  host: "${KIBANA_URI}"

# output.console:
#   pretty: true
# logging.json: true
# logging.metrics.enabled: false

