# See https://prometheus.io/docs/alerting/latest/configuration/ for documentation about configuration
global:
  resolve_timeout: 1m
  slack_api_url: '${SLACK_WEBHOOK_URL_INFRASTRUCTURE_ALERTS_0}'

route:
  receiver: slack-prod
  group_by:
  - alertname
  - env
  routes:
  # We post the alert to a different Slack channel for staging and prod env
  - receiver: slack-prod
    matchers:
    - severity =~ "page|warning"
    - env =~ "org|prod|monitoring"
    continue: true
  - receiver: slack-staging
    matchers:
    - severity =~ "page|warning"
    # all env that are not prod
    - env !~ "org|prod|monitoring"
    continue: true

templates:
- '/etc/alertmanager/templates/slack.tmpl'

receivers:
- name: slack-prod
  slack_configs:
  - channel: '#infrastructure-alerts'
    send_resolved: true
    title: '{{ template "slack.title" . }}'
    text: '{{ template "slack.text" . }}'
- name: slack-staging
  slack_configs:
  - channel: '#infrastructure-alerts-staging'
    send_resolved: true
    title: '{{ template "slack.title" . }}'
    text: '{{ template "slack.text" . }}'
