# my global config
global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  # OVH promox cluster exporters
  # They are exposed on the reverse proxy at ovh-exporters.openfoodfacts.org
  # this rule enable to get them
  - job_name: ovh-exporters
    scheme: https
    basic_auth:
      username: prometheus
      password_file: /etc/prometheus/secrets/ovh.txt
    static_configs:
      - targets:
          # those must follow job/env/app/service
          # corresponding url is https://ovh-exporters.openfoodfacts.org/job/env/app/service/metrics
        - "docker-cadvisor/net/docker/cadvisor"
        - "docker-prod/org/docker/cadvisor"
          # node exporter
        - "node-exporter/net/system/vm"
        - "node-exporter/org/system/vm"
          # docker nginx
        - "docker-nginx/net/off/frontend"
          # docker apache
        - "docker-apache/net/off/backend"
          # docker-statsd (for robotoff gunicorn)
        - "docker-statsd/net/robotoff/api"
          # moved to moji "docker-statsd/org/robotoff/api" 10.1.0.201:9102;
          # docker-postgres
        - "docker-postgres/net/robotoff/postgres"
          # moved to moji - "docker-postgres/org/robotoff/postgres" 10.1.0.201:9187;
          # Proxmox gateway postfix
        - "pmg-postfix/prod/pmg/postfix"
          # docker-elasticsearch
        - "docker-elasticsearch/net/search-a-licious/elasticsearch"
        - "docker-elasticsearch/org/search-a-licious/elasticsearch"
          # matomo mysqld
        - "mysqld/prod/matomo/mysqld"
          # matomo nginx
        - "mysqld/prod/matomo/nginx"
        labels:
          base_url: ovh-exporters.openfoodfacts.org:443
          metrics_path: metrics
    relabel_configs: &ovh_exporters_relabel_config
      # get instance, first part + second part of target
      - source_labels: [__address__]
        regex: ^([^/]+)/([^/]+)/([^/]+)/(.*)$
        replacement: ovh-${3}-${2}
        target_label: instance
      # get job name, first part
      - source_labels: [__address__]
        regex: ^([^/]+)/.*$
        replacement: ${1}
        target_label: job
      # get env, second part
      - source_labels: [__address__]
        regex: ^[^/]+/([^/]+)/.*$
        replacement: ${1}
        target_label: env
      # get app, third part
      - source_labels: [__address__]
        regex: ^[^/]+/[^/]+/([^/]+)/.*$
        replacement: ${1}
        target_label: app
      # get service, fourth part
      - source_labels: [__address__]
        regex: ^[^/]+/[^/]+/[^/]+/([^/]+)$
        replacement: ${1}
        target_label: service
      # the metrics path is adress + /metrics
      - source_labels: [__address__, metrics_path]
        separator: /
        target_label: __metrics_path__
      # put base url as address, as it is the same for all
      - source_labels: [base_url]
        target_label: __address__
      # drop labels that where only useful for configuration
      - regex: ^(base_url|metrics_path)$
        action: labeldrop

  # local jobs, on the same host
  - job_name: monitoring-exporters
    static_configs:
      - targets: ["host.docker.internal:8280"]
        labels:
          job: docker-cadvisor
          app: docker
          env: monitoring
          service: cadvisor
      - targets: ["host.docker.internal:8281"]
        labels:
          job: node-exporter
          app: system
          env: monitoring
          service: vm

  # local jobs in the same docker network
  # TODO: use Docker Service Discovery https://prometheus.io/docs/prometheus/latest/configuration/configuration/#docker_sd_config
  - job_name: docker-containers
    sample_limit: 50000
    static_configs:
      - targets: ["prometheus:9090"]
        labels:
          app: prometheus
      - targets: ["grafana:3000"]
        labels:
          app: grafana
      - targets: ["alertmanager:9093"]
        labels:
          app: alertmanager
      - targets: ["elasticsearch_exporter:9114"]
        labels:
          app: elasticsearch_exporter
          env: org
      - targets: ["blackbox_exporter:9115"]
        labels:
          app: blackbox_exporter
          env: org

  # Free promox cluster Exporters
  # NGINX is proxying the exporters of servers at free
  # this rule enable to get them
  - job_name: free-exporters
    scheme: https
    basic_auth:
      username: prometheus
      password_file: /etc/prometheus/secrets/free-exporters.txt
    static_configs:
      - targets:
        # those must follow <container>/<service>
        # corresponding url is https://free-exporters.openfoodfacts.org/<target>/metrics
        - mongo/mongodb
        - off1-proxy/nginx
        - proxy/nginx
        - off/nginx
        - off/apache
        - off/apache-priority
        labels:
          app: off
          env: prod
          base_url: free-exporters.openfoodfacts.org:443
          metrics_path: metrics
          instance_prefix: free
    relabel_configs: &proxied_exporters_relabel_config
      # get instance, first part of target
      - source_labels: [__address__]
        regex: ^([^/]+)/(.*)$
        replacement: ${1}
        target_label: instance
      - source_labels: [instance_prefix, instance]
        separator: "-"
        target_label: instance
      # the metrics path is adress + /metrics
      - source_labels: [__address__, metrics_path]
        separator: /
        target_label: __metrics_path__
      # put base url as address, as it is the same for all
      - source_labels: [base_url]
        target_label: __address__
      # drop labels that where only useful for configuration
      - regex: ^(base_url|metrics_path)$
        action: labeldrop

  - job_name: ks1-exporters
    scheme: https
    basic_auth:
      username: prometheus
      password_file: /etc/prometheus/secrets/ks1.txt
    static_configs:
      - targets:
        # those must follow <container>/<service>
        # corresponding url is https://ks1.openfoodfacts.org/<target>/metrics
        - images-ks1/nginx
        labels:
          app: off
          env: prod
          base_url: ks1.openfoodfacts.org:443
          metrics_path: metrics
          instance_prefix: ks1
    relabel_configs: *proxied_exporters_relabel_config

  #--------#
  # PROBES #
  #--------#
  - job_name: blackbox-exporter
    metrics_path: /probe
    scrape_interval: 60s
    relabel_configs:
      - source_labels: [probe_module]
        target_label: __param_module
      - source_labels: [__address__]
        regex: ^([^|]+)\|(.+)$ # splits target by | and uses 2nd token as target for blackbox_exporter
        replacement: ${2}
        target_label: __param_target
      - source_labels: [__address__]
        regex: (.+)\|(.+) # splits target by | and uses 1st token as 'app' label
        replacement: ${1}
        target_label: app
      - source_labels: [__param_target]
        target_label: instance
      - replacement: blackbox_exporter:9115
        target_label: __address__
    static_configs:
      - targets:
          - off|https://world.openfoodfacts.net
          - off-web|https://world.openfoodfacts.net/images/products/376/002/924/8001/1.100.jpg
          - off-product|https://world.openfoodfacts.net/product/3017620422003/nutella-ferrero
          - robotoff|https://robotoff.openfoodfacts.net/api/v1/health
          - off-query|https://query.openfoodfacts.net/health
          - off-search|https://search.openfoodfacts.net/
          - off-facets-kp|https://facets-kp.openfoodfacts.net/
          - prices-api|https://prices.openfoodfacts.net/api/v1/status
          - prices-app|https://prices.openfoodfacts.net/
        labels:
          env: net
          probe_module: http_probe_auth
      - targets:
          # Open Food Facts app (apache)
          - off|https://world.openfoodfacts.org
          # Product page
          - off-product|https://world.openfoodfacts.org/product/3017620422003/nutella-ferrero
          # Open Food Facts static resources
          - off-static|https://static.openfoodfacts.org/images/logos/off-logo-horizontal-light.svg
          # Open Food Facts images
          - off-images|https://images.openfoodfacts.org/images/products/376/002/924/8001/1.100.jpg
          # other flavors
          - obf|https://world.openbeautyfacts.org
          - opff|https://world.openpetfoodfacts.org
          - opf|https://world.openproductsfacts.org
          - off-pro|https://world.pro.openfoodfacts.org
          # important services
          - keycloak|https://auth.openfoodfacts.org/realms/openfoodfacts/
          - robotoff|https://robotoff.openfoodfacts.org/api/v1/health
          - off-query|https://query.openfoodfacts.org/health
          - off-search|https://search.openfoodfacts.org/
          - off-facets-kp|https://facets-kp.openfoodfacts.org/
          - folksonomy|https://api.folksonomy.openfoodfacts.org/
          - prices-api|https://prices.openfoodfacts.org/api/v1/status
          - prices-app|https://prices.openfoodfacts.org/
          # tools
          - blog|https://blog.openfoodfacts.org/
          - wiki|https://wiki.openfoodfacts.org/
          - forum|https://forum.openfoodfacts.org/
          # technical tools
          - grafana|https://grafana.openfoodfacts.org/api/health
          # matomo, see https://matomo.org/faq/how-to/faq_20278/
          - matomo-interface|https://analytics.openfoodfacts.org/index.php?module=Login
          - matomo-tracker|https://analytics.openfoodfacts.org/matomo.php
        labels:
          env: org
          probe_module: http_probe
      - targets:
          - prometheus|https://prometheus.openfoodfacts.org/-/healthy
          - alertmanager|https://alertmanager.openfoodfacts.org/-/healthy
        labels:
          env: org
          probe_module: http_probe_auth_monitoring
      - targets:
          # technical tools
          - kibana|https://kibana.openfoodfacts.org/status
          - elasticsearch|https://elasticsearch.openfoodfacts.org/_cluster/health?wait_for_status=yellow&timeout=50s
        labels:
          env: org
          probe_module: http_probe_auth_elasticsearch
      # prober for target that only support html as content-type (not json)
      - targets:
          - connect|https://connect.openfoodfacts.org/
        labels:
          env: org
          probe_module: http_probe_auth_html
        # pinging
      - targets:
          - ovh1|ovh1.openfoodfacts.org
          - proxy1_ovh|proxy1.openfoodfacts.org
          - proxy2_free|proxy2.openfoodfacts.org
          - ovh2|ovh2.openfoodfacts.org
          - ovh3|ovh3.openfoodfacts.org
          - off1|off1.openfoodfacts.org
          - off2|off2.openfoodfacts.org
        labels:
          env: org
          probe_module: icmp

