name: Filebeat Deployment CI

on:
  push:
    branches:
      - main
      - deploy-*
      - filebeat-deploy-*
    paths-ignore:
      - configs/alertmanager/**
      - configs/blackbox_exporter/**
      - configs/grafana/**
      - configs/kibana/**
      - configs/prometheus/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        server:
          # scaleway docker prod
          - host: "10.13.1.200"
            proxy: scaleway-02.infra.openfoodfacts.org
            ssh_key_name: "SSH_PRIVATE_KEY_SCALEWAY_DOCKER_PROD"
          # hetzner docker prod
          - host: "10.12.1.202"
            proxy: hetzner-03.infra.openfoodfacts.org
            ssh_key_name: "SSH_PRIVATE_KEY_HETZNER_DOCKER_PROD"
          # hetzner docker staging
          - host: "10.12.1.201"
            proxy: hetzner-02.infra.openfoodfacts.org
            ssh_key_name: "SSH_PRIVATE_KEY_HETZNER_DOCKER_STAGING"
          # staging dockers on OVH
          - host: "10.1.0.200"
            proxy: "ovh1.openfoodfacts.org"
            ssh_key_name: "SSH_PRIVATE_KEY_OVH1"
          # prod dockers on OVH
          - host: "10.1.0.201"
            proxy: "ovh2.openfoodfacts.org"
            ssh_key_name: "SSH_PRIVATE_KEY_OVH2"
          # monitoring-01
          - host: "34.1.5.157"
            proxy: "" # no proxy
            ssh_key_name: "SSH_PRIVATE_KEY_MONITORING_01"
          # docker2 prod
          - host: "10.3.0.200"
            proxy: "osm45.openfoodfacts.org"
            ssh_key_name: "SSH_PRIVATE_KEY_DOCKER_PROD_2"
    steps:
    - name: Set env variables
      run: |
        # direct container access
        # deploy target
        echo "SSH_HOST=${{ matrix.server.host }}" >> $GITHUB_ENV
        echo "SSH_PROXY_HOST=${{ matrix.server.proxy }}" >> $GITHUB_ENV
        echo "SSH_USERNAME=off" >> $GITHUB_ENV
        # note: we must explicit the scheme and the port in the URL
        echo "KIBANA_HOST=https://kibana.openfoodfacts.org:443" >> $GITHUB_ENV
        echo "ELASTICSEARCH_HOSTS=https://elasticsearch.openfoodfacts.org:443" >> $GITHUB_ENV
        echo "ELASTICSEARCH_USERNAME=off" >> $GITHUB_ENV

    - name: Checkout git repository
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets[matrix.server.ssh_key_name] }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets[matrix.server.ssh_key_name] }}
        script_stop: false
        script: |
          # Clone Git repository if not already there
          [ ! -d 'filebeat' ] && git clone --depth 1 https://github.com/${{ github.repository }} filebeat --no-single-branch 2>&1

          # Go to repository directory
          cd filebeat/

          # Fetch newest commits (in case it wasn't freshly cloned)
          git fetch --depth 1

          # Checkout current commit SHA
          git checkout -qf ${{ github.sha }}

          # Change permission of filebeat config
          # without using sudo !
          docker run --rm -v $(pwd)/configs/filebeat:/mnt -w /mnt bash chown root:root config.yml

    - name: Set environment variables
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets[matrix.server.ssh_key_name] }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets[matrix.server.ssh_key_name] }}
        script_stop: false
        script: |
          # Go to repository directory
          cd filebeat/

          # Set Docker Compose variables
          echo "DOCKER_CLIENT_TIMEOUT=120" > .env
          echo "COMPOSE_HTTP_TIMEOUT=120" >> .env
          echo "COMPOSE_PROJECT_NAME=filebeat" >> .env
          echo "COMPOSE_PATH_SEPARATOR=;" >> .env
          echo "COMPOSE_FILE=docker-compose.node.yml" >> .env

          # Filebeat config
          echo "KIBANA_HOST=${{ env.KIBANA_HOST }}" >> .env
          echo "ELASTICSEARCH_HOSTS=${{ env.ELASTICSEARCH_HOSTS }}" >> .env
          echo "ELASTICSEARCH_USERNAME=${{ env.ELASTICSEARCH_USERNAME }}" >> .env
          echo "ELASTICSEARCH_PASSWORD=${{ secrets.ELASTICSEARCH_PASSWORD }}" >> .env

    - name: Start services
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets[matrix.server.ssh_key_name] }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets[matrix.server.ssh_key_name] }}
        script_stop: false
        script: |
          cd filebeat/
          make down && make up

    - name: Check services are up
      uses: appleboy/ssh-action@master
      if: ${{ always() }}
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets[matrix.server.ssh_key_name] }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets[matrix.server.ssh_key_name] }}
        script_stop: false
        script: |
          cd filebeat/
          make livecheck

    - name: Cleanup obsolete Docker objects
      uses: appleboy/ssh-action@master
      if: ${{ always() }}
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ env.SSH_USERNAME }}
        key: ${{ secrets[matrix.server.ssh_key_name] }}
        proxy_host: ${{ env.SSH_PROXY_HOST }}
        proxy_username: ${{ env.SSH_USERNAME }}
        proxy_key: ${{ secrets[matrix.server.ssh_key_name] }}
        script_stop: false
        script: |
          cd filebeat/
          make prune
